<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StallionPublicSigningKey</key>
	<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7OYMv//oN05NTWxOg3cR
  7mKw2kIaD5ZfWE4RdMIKnqPZqUKvY1WntqOttbni0pRIX4RPcsV0+sMzZ8mva3x5
  Fr4z8TVLQY8vjMEa7PkaEffPfUWLdqFStY6V0gjJa+IdZ3gBtV5lKRHmusaiVDCD
  k0omcCYfu03FGgUW+3RdyNzQ16UnrbEehcwYj1h465JMN5QTnh6z1RtctwN7wzvp
  hmIvG9ufdJd1JW1KURFKSRntV6O7HEUYBct/x9cYqsSfcfjPBqeEVhsxOtoViR7h
  osDr6paq+dPy0ejnmLqlSlSuVFNs8PH9wOzejmt7Ay6Aqt4TebwhoutuwYQDLecF
  +wIDAQAB</string>
	<key>StallionAppToken</key>
	<string>spb_WkSHL27B9FMfsLWQwjfWJ5wZsWCPr67G6rlDC5i7mb</string>
	<key>StallionProjectId</key>
	<string>67210b6f3e19d894c6a1a4fb</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>StallionExample</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
