<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stallion">
  <application>
    <activity
      android:name="com.stallion.utils.StallionErrorActivity">
    </activity>
    <activity
      android:name="com.stallion.utils.ProcessPhoenix"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:noHistory="true">
    </activity>
  </application>
</manifest>
