name: CI
on:
  push:
    branches:
      - main
      - alpha

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Typecheck files
        run: yarn typecheck

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup git user
        run: |
          git config --global user.name ${{ secrets.GH_DEPLOY_NAME }}
          git config --global user.email ${{ secrets.GH_DEPLOY_EMAIL }}

      - name: Prep release
        run: yarn prepare-release

      - name: Release package
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GH_DEPLOY_EMAIL }}
          GIT_AUTHOR_NAME: ${{ secrets.GH_DEPLOY_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GH_DEPLOY_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GH_DEPLOY_NAME }}
